/* 추천 음료 공통 */
.ediya-recommend-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: darkcyan;
}
.ediya-recommend {
    background-color: darkred;
   
}
.ediya-recommend ul {
    display: flex;


}
